.product{
    /* height: 4000px; */
    background-color: rgb(211, 235, 242);
    display: flex;
    flex-wrap: wrap;

}

.product-container1{
    display: flex;
    flex-direction: column;
    height: 440px;
    width:680px;
    background-color: white;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}
        .product-cost1{
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            margin-top: 5px;
            margin-bottom: 5px;
        }
        .product-rating1{
            display: flex;
            color: rgb(250, 233, 47);
        }
        .product-bag1{
            margin-top: 100px;
            margin-left: 200px;
        }
        .product-bag-image1{
            height: 200px;
            width: 200px;
            
        }
        .product-slection1{
            margin-left: 250px;
            margin-top: 20px;
        
        }
        .product-slection-button1{
            background-color: rgb(232, 129, 4);
        }





.product-container2{
        display: flex;
        flex-direction: column;
        height: 440px;
        width:680px;
        background-color: white;
        padding: 10px;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 20px;
}
        .product-cost2{
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            margin-top: 5px;
            margin-bottom: 5px;
        }
        .product-rating2{
            display: flex;
            color: rgb(250, 233, 47);
        }
        .product-bag2{
            margin-top: 100px;
            margin-left: 150px;
        }
        .product-bag-image2{
            height: 200px;
            width: 400px;
            
        }
        .product-slection2{
            margin-left: 300px;
            margin-top: 20px;
        
        }
        .product-slection-button2{
            background-color: rgb(232, 129, 4);
        }



.product-row2{
    display: flex;
}

        .product3{
            flex: 1;
        }
        .product-container3{
            display: flex;
            flex-direction: column;
            height: 440px;
            /* width:680px; */
            background-color: white;
            padding: 10px;
            margin-left: 10px;
            margin-right: 10px;
            margin-bottom: 20px;
    }
            .product-cost3{
                font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                margin-top: 5px;
                margin-bottom: 5px;
            }
            .product-rating3{
                display: flex;
                color: rgb(250, 233, 47);
            }
            .product-bag3{
                margin-top: 100px;
                margin-left: 100px;
            }
            .product-bag-image3{
                height: 200px;
                width: 200px;
                
            }
            .product-slection3{
                margin-left: 150px;
                margin-top: 20px;
            
            }
            .product-slection-button3{
                background-color: rgb(232, 129, 4);
            }




            .product4{
                flex: 1;
            }
            .product-container4{
                display: flex;
                flex-direction: column;
                height: 440px;
                /* width:680px; */
                background-color: white;
                padding: 10px;
                margin-left: 10px;
                margin-right: 10px;
                margin-bottom: 20px;
        }
                .product-cost4{
                    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                    margin-top: 5px;
                    margin-bottom: 5px;
                }
                .product-rating4{
                    display: flex;
                    color: rgb(250, 233, 47);
                }
                .product-bag4{
                    margin-top: 100px;
                    margin-left: 130px;
                }
                .product-bag-image4{
                    height: 200px;
                    width: 200px;
                    
                }
                .product-slection4{
                    margin-left: 170px;
                    margin-top: 20px;
                
                }
                .product-slection-button4{
                    background-color: rgb(232, 129, 4);
                }




                .product5{
                    flex: 1;
                }
                .product-container5{
                    display: flex;
                    flex-direction: column;
                    height: 440px;
                    /* width:680px; */
                    background-color: white;
                    padding: 10px;
                    margin-left: 10px;
                    margin-right: 10px;
                    margin-bottom: 20px;
            }
                    .product-cost5{
                        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                        margin-top: 5px;
                        margin-bottom: 5px;
                    }
                    .product-rating5{
                        display: flex;
                        color: rgb(250, 233, 47);
                    }
                    .product-bag5{
                        margin-top: 100px;
                        margin-left: 120px;
                    }
                    .product-bag-image5{
                        height: 200px;
                        width: 200px;
                        
                    }
                    .product-slection5{
                        margin-left: 170px;
                        margin-top: 20px;
                    
                    }
                    .product-slection-button5{
                        background-color: rgb(232, 129, 4);
                    }









                    .product6{
                        width: 100%;
                        padding-left: 306px;
                        padding-right: 300px;
                        margin-left: 10px;
                        margin-bottom: 20px;
                        background-color: white;
                    }
                    .product-container6{
                        display: flex;
                        flex-direction: column;
                        height: 500px;
                        width:100%;
                        background-color: white;
                        padding: 10px;
                        /* padding-right: 70px;
                        padding-left: 200px; */
                        margin-left: 10px;
                        margin-right: 10px;
                        margin-bottom: 20px;
                        
                }
                        .product-cost6{
                            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                            margin-top: 5px;
                            margin-bottom: 5px;
                        }
                        .product-rating6{
                            display: flex;
                            color: rgb(250, 233, 47);
                        }
                        .product-bag6{
                            margin-top: 100px;
                            margin-left: 100px;
                        }
                        .product-bag-image6{
                            height: 300px;
                            width: 600px;
                            
                        }
                        .product-slection6{
                            margin-left: 340px;
                            margin-top: 20px;
                            margin-bottom: 20px;
                        
                        }
                        .product-slection-button6{
                            background-color: rgb(232, 129, 4);
                        }